

.account-content{
    display: flex;
    width:800px;
    height:500px;
    flex-direction: column;
}

.header-tabs-container{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.header-tab{
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    color: #dddddd;
    transition: all 0.3s ease-in-out;
    font-size: 30px;
}

.header-tab-active{
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    transition: all 0.3s ease-in-out;
    font-size: 30px;
}

.Form-container, .Form-container{
    width:100%;
    
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    max-height: 400px;
    border-bottom: 3px solid #000000;
}

.Form-container-hidden, .Form-container-hidden{
    width:100%;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    max-height: 0;
      overflow: hidden; 
}

.signup-form, .login-form{
    width:100%;
    display: flex;
    flex-direction: row;
}

.signup-form-left{
    display: flex;
    flex-direction: column;
    width:50%;
    justify-content: space-evenly;
    align-items: center;
}

.signup-form-right{
    display: flex;
    flex-direction: column;
    width:50%;
    justify-content: flex-start;
}

.signup-form-left input{
    font-family: 'Quicksand', sans-serif;
    width: 75%;
    font-size: 20px;
    font-weight: 300;
}

.signup-form-right h1, h2{
    font-family: 'Quicksand', sans-serif;
}

.signup-form-right h1{
    font-weight: 700;
    font-size: 40px;
}

.signup-form-right h2{
    font-weight: 500;
    font-size: 20px;
    margin-top:-20px;
}

.signup-form-right div.btn-wrapper{
    width: 100%;
    display:flex;
    justify-content: center;
    padding-bottom:10px;
}

.signup-form-right div.btn-wrapper div.btn {
    border: 1px solid #000000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    border-radius: 8px;
    font-size:20px;
    width: 100px;
    text-align: center;                   
}

.login-form div.btn-wrapper{
    width: 100%;
    display:flex;
    justify-content: center;
    padding-bottom:10px;
}

.login-form div.btn-wrapper div.btn {
    border: 1px solid #000000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    border-radius: 8px;
    font-size:20px;
    width: 100px;
    text-align: center;                   
}

.account-footer{
 display: flex;
 width: 100%;
justify-content: flex-end;
text-align: center;
padding-top:10px;
}
.account-footer p{
    font-family: 'Quicksand', sans-serif;
    font-weight:300;
    font-size:8px;
}
.account-footer img{
    height:100px;
    width:100px;
    margin-top:-10px;
}

.login-form{
    display: flex;
    width: 100%;
    height:100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 200px;
}

.login-form input{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    width: 30%;
    font-weight: 300;
    
}

